{
  "builders": [{
    "type": "docker",
    "image": "ubuntu:16.04",
    "commit": "true"
  }],
 "provisioners": [
    {
      "type": "shell",
      "inline": ["echo 'hello!' > /tmp/foo1"]
    }
  ],
  "post-processors": [
    [
      {
        "type": "docker-tag",
        "repository": "{{pl_docker_repo_url}}/{{pl_docker_repo_username}}/{{pl_docker_repo_name}}/{{pl_docker_template}}",
        "tag": "{{pl_tag}}"
      }
    ]
  ]
}
