#/bin/bash
DAEMON_PATH={{agar_directory}}
DAEMON_NAME=agar
# Check that networking is up.
#[ ${NETWORKING} = "no" ] && exit 0

PATH=$PATH:$DAEMON_PATH

# See how we were called.
case "$1" in
  start)
        # Check if daemons is running.
        echo "Check if $DAEMON_NAME" is running;
        pid=`ps ax | grep -i 'node' | grep -v grep | awk '{print $1}'`
        if [ -n "$pid" ]
          then
            echo "Can't start $DAEMON_NAME as its already is running with PID: $pid";
          else
          # Start daemon.
            echo "Starting $DAEMON_NAME";
            rm -rf $DAEMON_PATH/RUNNING_PID
            cd $DAEMON_PATH && nohup npm start > $DAEMON_PATH/logs/$DAEMON_NAME.log 2>&1 &
          fi
        ;;
  stop)
        # Stop daemons.
        echo "Shutting down $DAEMON_NAME";
        pid=`ps ax | grep -i 'node' | grep -v grep | awk '{print $1}'`
        if [ -n "$pid" ]
          then
          kill -9 $pid
          rm -rf $DAEMON_PATH/RUNNING_PID
        else
          echo "$DAEMON_NAME was not Running"
        fi
        ;;
  restart)
        $0 stop
        sleep 2
        $0 start
        ;;
  status)
        pid=`ps ax | grep -i 'node' | grep -v grep | awk '{print $1}'`
        if [ -n "$pid" ]
          then
          echo "$DAEMON_NAME is Running as PID: $pid"
        else
          echo "$DAEMON_NAME is not Running"
        fi
        ;;
  *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
esac

exit 0
