# Server Block for Virtual host start
upstream app_server_ssl {
    server 192.168.44.167;
    server 192.168.44.169;
}

server {
        listen  443 ssl http2;
        server_name {{hostname}}.{{domain_name}};
        ssl_certificate /etc/nginx/ssl/ssl_crt.pem;
        ssl_certificate_key /etc/nginx/ssl/ssl_key.pem;
        ssl_dhparam /etc/nginx/ssl/dhparam.pem;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
        location / {
            proxy_cache my_zone;
            add_header X-Proxy-Cache $upstream_cache_status;
            proxy_pass http://app_server;
        }
        #Define custom error pages
        error_page 404 /error-page-404.html;
        location = /error-page-404.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
        error_page 403 /error-page-403.html;
        location = /error-page-403.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
        error_page 500 502 503 504 /error-page-50x.html;
        location = /error-page-50x.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
}
# Server Block for Virtual host with SSL end
