DAEMON_PATH=/var/ossec/bin
DAEMON_NAME=ossec-authd
# Check that networking is up.
#[ ${NETWORKING} = "no" ] && exit 0

PATH=$PATH:$DAEMON_PATH

# See how we were called.
case "$1" in
  start)
        # Start daemon.
        echo "Starting $DAEMON_NAME";
        nohup $DAEMON_PATH/ossec-authd -p 1514 2>&1 >> /var/ossec/logs/ossec-authd.log &
        ;;
  stop)
        # Stop daemons.
        echo "Shutting down $DAEMON_NAME";
        pid=`ps ax | grep -i 'ossec-authd' | grep -v grep | awk '{print $1}'`
        if [ -n "$pid" ]
          then
          kill -9 $pid
        else
          echo "ossec-authd was not Running"
        fi
        ;;
  restart)
        $0 stop
        sleep 2
        $0 start
        ;;
  status)
        pid=`ps ax | grep -i 'ossec-authd' | grep -v grep | awk '{print $1}'`
        if [ -n "$pid" ]
          then
          echo "ossec-authd is Running as PID: $pid"
        else
          echo "ossec-authd is not Running"
        fi
        ;;
  *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
esac

exit 0
