.DS_Store
inventory/test-env/*
Softwares
inventory/Rain/*
inventory/Red/*
inventory/shop-red/*
inventory/estateace-staging/*
inventory/inceptionds/*
inventory/estateace-do/*
inventory/VL/*
inventory/tecq/*
