---
language: python
python: "2.7"

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - pip install ansible

  # Add ansible.cfg to pick up roles path.
  #- "printf '[defaults]\nroles_path = ../' > ansible.cfg"

script:
  # We'll add some commands to test the role here.
  - ansible-playbook -i inventory/template-env/hosts *.yml --syntax-check
  - ansible-playbook -i inventory/template-env/hosts AWS/*.yml --syntax-check
  - ansible-playbook -i inventory/template-env/hosts MySql/*.yml --syntax-check
  - ansible-playbook -i inventory/template-env/hosts ubuntu-desktop/*.yml --syntax-check
  - ansible-playbook -i inventory/template-env/hosts Hacking/*.yml --syntax-check
