-----BEGIN CERTIFICATE-----
MIIDgzCCAmugAwIBAgIJAP4AcPyz1Ir7MA0GCSqGSIb3DQEBCwUAMFgxCzAJBgNV
BAYTAklOMRIwEAYDVQQIDAlLYXJuYXRha2ExEjAQBgNVBAcMCUJhbmdhbG9yZTEh
MB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMB4XDTE2MDIwOTA1NDU1
N1oXDTE3MDIwODA1NDU1N1owWDELMAkGA1UEBhMCSU4xEjAQBgNVBAgMCUthcm5h
dGFrYTESMBAGA1UEBwwJQmFuZ2Fsb3JlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRn
aXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDgS8Hr
LaOKxaBMN7Bq/CwUYErEzhJFXJupPtnbOXMAoyokpWZLa8hGXWSeDg50i6GTHfVn
towbQCsuGb2wW83RE48lA+O8kyicMs8M3FbS8YCIG3p6h9XFrZG6rw9PQwnFtmUA
1jGqFyuKvXa8ViG99NTtSTkzAkNFU7l26WQNO8IHAB4M/VQKkRDtLt7rMfc1/T1v
Myy9kRSaQBViug4lO9xBqT8mv6UvWj0/hA+AJOcngPY1Nn4tACvc/eO7IYNHh+TL
ni3aZvLMYiob9Zu8bELKiZk6I9V/wlfZG11o1boO5uwQg3GzfqQBzwbYf5hsb4/Q
4A3rAvsV9bFom1/JAgMBAAGjUDBOMB0GA1UdDgQWBBQA8csuH7yG21lDSN8Kgl6I
6zU5QjAfBgNVHSMEGDAWgBQA8csuH7yG21lDSN8Kgl6I6zU5QjAMBgNVHRMEBTAD
AQH/MA0GCSqGSIb3DQEBCwUAA4IBAQDeBclfU3NdS/3kgxmDuITpy+VRryl1lc7K
RY3JrNkI0Pr07KgpfdoWxZ5+uYCw388or8kZotFMmk5AVwg7LU9DvUxf181lUPFC
PYsjkNZk7wiuMgL1gdkEV1yK4SwqVdqwrHkpG1XA5bbzt59UPzchGf3Jr9ycmV1I
AK2M7SyqzQnajoI2uTv1ZM2TDOqaTgJ1oFp18NzRJLgvEbYvdl4/qS/HS6fOXESO
E3GpdOJbQ9k7GtToaGvFkoAcX7JNOxaihZZpHPlhmKlyvBDdf/JeeKCqR5RstNkY
KJI73wUvVlzKoVSgofPyo/skSCLJbrjlntZvCjzxqrMcr4n5uMGK
-----END CERTIFICATE-----
