# We use a 4096 bit RSA key instead of 2048
rsa-key-size = 4096

email = {{web_master}}
domains = {{domain_name}}

authenticator = webroot

# This is the webroot directory of your domain in which
# letsencrypt will write a hash in /.well-known/acme-challenge directory.
webroot-path = /usr/share/nginx/ssl
