-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAKVv4GMC5jrHMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQwHhcNMTcwOTEwMTI0ODE2WhcNMjcwOTA4MTI0ODE2WjBF
MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAqqa68YT7pUfCaON/IVUb3Lxzf+tNVIWg3kKGk7p3Vx6tWbhsQW6tFnbA
7i9C1hR+PoWE1tENSYtQLC3KNt8VzuEcp7X61ZGbH4B7wXdBvb9rHY/nO3Ta78q2
YrEH95FDkb3XGuaz7U4FOmwHnqYYuuXnO6ZDXcxbVLz7xcX7qtQIes7PwMiVnic3
iTvj3h5lVRrrmFpKC1ChHHBcM+3101DFK4uECwMP43GK9wShh9TqjcYHxEZBbXGi
Pq5jciN2JXCqLO+jeGIk3w1Z44H52EzxmMWPIhz1znLaKcM6WJYz8y+u7QWN9wBb
CJLYmyIK1+m30u4+u6PBZLL42TUqBQIDAQABo1AwTjAdBgNVHQ4EFgQUOGfDq5R6
nURaxif2Cs1BMptUKykwHwYDVR0jBBgwFoAUOGfDq5R6nURaxif2Cs1BMptUKykw
DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEATxzhWJPydzPprZId7Co5
ehdfvu3DWm1KkjmyuOvBUfXN5VqmyXeMevbMpAsoUvkw2xWS9GWhbzR1KpaN+A3l
Lnj+wcdc6QgH3oJ+GLM57kfdZJOzr3N9CrWub5teOxgcVjmwTSszoD25c7oIhMOq
T6lT23oTMHTBqdsiWeeQqa0rDMAQgIwBtEgbUikkuexFpcKrTBnpZYI0uXKzFP3e
Exte3voY/qUpIWhS75nD1f2ONwp/QtmZgvCfSDbcjYFYLy7wIp1yzPEkowdQJE1J
eA1c2MsM1T6buV3y/UXhHP3QSavYOo2xTeTObroaVgZHM01eaD5PDycKOuf92xga
Yw==
-----END CERTIFICATE-----
