{
"mailer": {
  "admin_gui": "https://{{sensu_master}}",
  "mail_from": "{{smtp_username}}",
  "mail_to": "{{alert_email}}",
  "smtp_address": "localhost",
  "smtp_port": "25",
  "smtp_domain": "localhost.localdomain"
  }
}
