{
    "slack": {
        "webhook_url": "{{slack_webhook}}",
        "bot_name": "Sensu",
        "channel": "#general",
        "command": "/opt/sensu/embedded/bin/ruby /etc/sensu/handlers/sensu.rb"
      }
}
