{
    "sensu": [
        {
            "name": "{{env}}",
            "host": "{{ansible_ssh_host}}",
            "ssl": false,
            "port": 4567,
            "path": "",
            "timeout": 5000
        }
    ],
    "uchiwa": {
        "port": 3000,
        "stats": 10,
        "refresh": 10000
    }
}
