bot addbot 1 1 ^1BOT ^71 ^3#ET4LIFE
bot addbot 1 2 ^1BOT ^72 ^3#ET4LIFE
bot addbot 1 3 ^1BOT ^73 ^3#ET4LIFE
bot addbot 1 4 ^1BOT ^74 ^3#ET4LIFE
bot addbot 1 5 ^1BOT ^75 ^3#ET4LIFE

bot addbot 2 1 ^4BOT ^76 ^3#ET4LIFE
bot addbot 2 2 ^4BOT ^77 ^3#ET4LIFE
bot addbot 2 3 ^4BOT ^78 ^3#ET4LIFE
bot addbot 2 4 ^4BOT ^79 ^3#ET4LIFE
bot addbot 2 5 ^4BOT ^70 ^3#ET4LIFE
