// Remember: 1 = on/yes 0 = off/no
// Sample server.cfg


// Variables you don't need can be blocked out with // before set
// The server skips lines starting with //
// You can delete these lines, too


// Values must be in quotes
// Additionally, anything in quotes is ok to customize

//====================================================

set dedicated "2"				// 1: dedicated server for lan 2: dedicated server for internet
set net_ip "{{ansible_ssh_host}}"				// set to override the default IP ET uses
set net_port "8080"				// set to override the default port ET uses

// PASSWORDS AND CLIENTS

// Number of players including private slots
set sv_maxclients "22"

// Number of private slots
set sv_privateclients "2"

// Password req’d to connect (g_needpass must be 1)
set g_password ""

// Require a password to join?
set g_needpass "0"

// Private password, to access private slots
set sv_privatepassword "privpass"

// Set Referee Password
set refereePassword "refpass"

// RCON password (VERY important!)
set rconpassword "rconpass"

//======================================================

// CONNECT TO MASTER ET SERVERS
// You can leave this alone.  If you don’t want your server to show
// up on the master list, just place a // in front of “set”

set sv_master1 "etmaster.idsoftware.com"
set sv_master2 "master.gamespy.com:27900"
set sv_master3 "master0.gamespy.com"
set sv_master4 "clanservers.net"
set sv_master5 ""


// SET SERVER INFO
// This shows up under “server info”
// Don’t use too many or you can crash your server!

sets g_needpass "0"
sets sv_pure "1"
sets .IRC "#yourchannel @ network"
sets .Admin "You're Name"
sets .Email "you@domain.com"
sets .URL "http://www.site.com"
sets .Host "http://www.host.com"
sets "URL" "http://www.site.com"


// MOTD ETC

// Max length is "12345678901234567890123456"
// This doesn’t include color codes
// Each motd# will show up on a new line

set sv_hostname "Server Name"
set server_motd0 "Welcome to our server!"
set server_motd1 ""
set server_motd2 "Rule 1"
set server_motd3 "Rule 2"
set server_motd4 "Another Message here…."
set server_motd5 "^B.........................."


// RATE & DOWNLOADS
// This can be tricky.  You may want to skip this and come back to it later.
// This is explained in the forums

set sv_maxRate "13000"
set sv_lanforcerate "0"
set sv_allowDownload "1"
set sv_dl_maxRate "25000"
set sv_wwwDownload "0"
set sv_wwwFallbackURL ""
set sv_wwwBaseURL ""
set sv_wwwDlDisconnected "0"

//===============================================

// MISC SETTINGS

// Autoconfig the server, should stay at “0”
set server_autoconfig "0"

// Enable antilag (recommended)
set g_antilag "1"

// How many FF complaints you can receive before kick
set g_complaintlimit "6"

// Disable complaints for teamkills
// Mines = 1, Airstrike = 2, mortar = 4
// This is bitflagged
set g_disableComplaints "7"

// Enable invincibility on medic revives
set g_fastres "0"

// Enable friendly fire (team damage)
set g_friendlyFire "1"

// Minimum # of players before a game can start
// 0 disables this.
set g_minGameClients "0"

// Max. number of voice chats per minute, controls voice spam
set g_voiceChatsAllowed "5"

// Number of seconds before match starts
set g_warmup "40"

// Do a warmup?
set g_doWarmup "0"

//  Number of seconds before kicking udle players
set g_inactivity "300"

// Number of minutes before kicking idle spectators
set g_spectatorInactivity "600"

// Prevents flooding on the server, not needed with Jaymod
// set sv_floodProtect "1"

// Pure server?  Keep this at 1
set sv_pure "1"

// Set min ping
set sv_minping "0"

// Set max ping, helps control lag, 0 disables variable
set sv_maxping "0"

// Allow players to join a match already in progress
set match_latejoin "1"

//  Percent of players that have to hit ‘ready’ to start
set match_readypercent "0

// THESE ARE OPTIONAL
// Uncomment them to include them in the config

// Allow damage during warmup?
set match_warmupDamage "1

// Mutes players in spec
set match_mutespecs "0"

//==========================================

// MORE SET COMMANDS
// uncomment and edit as needed

// g_redlimbotime "20"
// g_bluelimbotime "20"
// g_useralliedrespawntime "20"
// g_useraxisrespawntime "20"
// g_gravity "800"
// g_speed "500"
// g_soldierChargeTime 20000
// g_LTChargeTime 40000
// g_engineerChargeTime 30000
// g_medicChargeTime 45000


// TEAMS

// Players auto-join fireteams?
set g_autofireteams "1"

// Players can’t join the larger team
set g_teamforcebalance "1"

// A percentage, referring to how many of each heavy weapon players can choose.
// If 20% and there are 10 players on a team, there can be 2 of each H. weapon
set g_heavyWeaponRestriction "20"

// VOTING
// You can allow and disallow certain votes
// 1 = allow vote, 0 = disallow vote

// Allow Voting
set g_allowVote "0"

// Number of votes per map 0 = disable limit
set vote_limit "0"

// % to pass a vote, in Latest Jaymod, non-voters don’t count

set vote_percent "50"

// L load competition settings
set vote_allow_comp "0"

// Load public settings
set vote_allow_pub "0"

// Change game type
set vote_allow_gametype "0"

// Kick players
set vote_allow_kick "1"

// Change to a specific map
set vote_allow_map "0"

// Obvious ones:
set vote_allow_mutespecs "0"
set vote_allow_muting "1"
set vote_allow_matchreset "0"
set vote_allow_nextmap "0"
set vote_allow_referee "0"
set vote_allow_shuffleteamsxp "1"
set vote_allow_swapteams "0"
set vote_allow_friendlyfire "0"
set vote_allow_timelimit "0"
set vote_allow_warmupdamage "0"
set vote_allow_antilag "0"
set vote_allow_balancedteams "0"

//=========================================================

// PUNKBUSTER
// Dont use set or quotes with PB.
// Punkbuster MUST be enabled in Jaymod!

// This is commented out because it will later be set in the command line!
// pb_sv_enable 1

// PB bans by admins are saved
pb_sv_autoUpdBan 1

// How long do PB kicks last?
pb_sv_KickLen 2

// Names a player can’t have:
// “20” indicates 20 seconds To change a bad name.
pb_sv_badname 20 TEAMMATE
pb_sv_badname 20 teamate
pb_sv_badname 20 disguised
pb_sv_badname 20 disguised
pb_sv_badname 20 disgised
pb_sv_badname 20 desguised
pb_sv_badname 20 desgised
pb_sv_badname 0 teamkill

// More CVARS can be added for PB...do your research!

//=========================================================


// LOGGING

// Set the name for the server log file
set g_log "server.log"

set logfile 2
set g_logsync 0


// WATCHDOG
// This is for problems loading maps…the server will automatically
// load the specified file

set com_watchdog_cmd "exec objectivecycle.cfg"


// Executes the map rotation or campaign file
exec objectivecycle.cfg

// Executes Jaymod!
exec jaymod.cfg
