//          *******************************************
//          *               N!tmod 2.3.1              *
//          *            Sample Config file           *
//          *******************************************
//
//All the cvars listed below are followed by their default values.
//To make it a little easier to read, some descriptions have been truncated
//To view the complete CVARS Documentation, visit http://etmods.net/nitmod/cvars.php

//Controls whether the game will prevent new players from joining the team with more players than the other
set g_lms_teamForceBalance "1"

//sets the maximum number of rounds for a single matchup between teams. A team is considered to win a match when more than 50% of num rounds are won.
set g_lms_roundlimit "3"

//sets the maximum number of matches to play before moving on to the next map in rotation.
set g_lms_matchlimit "2"

//Controls locked teams during match play. When enabled, the teams are locked once match play begins and new players may not join.
set g_lms_lockTeams "0"

//Controls same-team spectator restrictions
set g_lms_followTeamOnly "1"

//Changing team adds a death to the player stats
set g_teamChangeKills "1"

//Name of the file where admin commands attempts will be logged.
set g_logAdmin ""

//When set, it specifies the name of the folder inside your server's nitmod directory.
//The config file for a map has to be named the same as the map with the extension .cfg, for instance oasis.cfg.
//You should also create a default.cfg file which will be read before the map-specific config files.
set g_mapConfigs ""

//Sets the default time for mute.Note:Should be < 10.
set g_defaultMute "3600"

//Multiply the speed of movers (e.g. tanks) by float.
set g_moverScale "1.0"

//Controls the amount of "warping" that players with high packet loss can do.
//The [integer] is the number of server frames that you allow a player to miss before their next movement is put in check.
//A server frame is 50ms on a typical server (sv_fps set to 20).
set g_maxWarp "4"

//Changes directory for custom mapscripts. Similar to ETPro s b_mapScriptsDirectory.
set g_mapScriptDirectory ""

//Similar to ETPro s b_campaignFile.
set g_campaignFile ""

//List of the words that have to be censored in the chat
set g_censor ""

//List of the words that have to bo censored from player names.
set g_censorNames ""

//Bitflag to control the penalty for a player saying a censored word (see g_censor).
set g_censorPenalty "1"

//If g_censorPenalty contains flag 8, the censored player will be automuted for g_censorMuteTime seconds
set g_censorMuteTime "0"

//If set, clients kicked for the specified reasons will be tempbanned for g_autoTempBanTime seconds
set g_autoTempBan "0"

//Auto Tempban duration
set g_autoTempBanTime "1800"

//Set this to 1 to enable Neil Toronto s unlagged2 skip correction.
//This will smooth out the movement of players with high packet loss (to a degree).
set g_skipCorrection "1"

//If higher than 0, anybody that has this percentage of hits inflicted on a teammate will automatically be kicked.
//A minimum of g_minhits hits total is required before this is calculated. Client can check their current stats by typing /damage in the console.
set g_teamDamageRestriction "0"

//Minimum damaging hits required before calculating if player has reached g_teamDamageRestriction
set g_minHits "6"

//Allow customization of the experience points necessary to go up in ranks.
set skill_soldier "20 50 90 140 200"
set skill_medic "20 50 90 140 200"
set skill_engineer "20 50 90 140 200"
set skill_fieldops "20 50 90 140 200"
set skill_covertops "20 50 90 140 200"
set skill_battlesense "20 50 90 140 200"
set skill_lightweapons "20 50 90 140 200"

//Cvars to cap the max level a player can gain in a skill.
set g_maxLevelLightWeapons "6"
set g_maxLevelBattleSense "6"
set g_maxLevelSoldier "6"
set g_maxLevelMedic "6"
set g_maxLevelEngineer "6"
set g_maxLevelFieldOp "6"
set g_maxLevelCovertOp "6"

//Customize how weapons are dropped upon limbo death
set g_weaponItems "1"

//Define how many maps are presented to users for voting upon during intermission
set g_maxMapsVotedFor "6"

//Define how long (in map number) a map is ineligible for voting, after it is played
set g_minMapAge "3"

//Controls how map voting works
set g_mapVoteFlags "0"

//Contains list of map to be exclude from the map voting list.
set g_excludedMaps ""

//Number of maps need to be played before player XP is reset.
set g_resetXPMapCount "0"

//Defines the directory that weapon scripts will be placed to edit how weapons work
set g_weaponScriptsDir ""

//Sets gravity on missile.This is not a bitflag
set g_missileGravity "0"

//the speed a panzer/bazooka missile travels at. Set to 0 or 2500 to enable default speed.
//Values over 300 are ignored if Guided Rockets are enabled.
set g_missileSpeed "0"

//Controls the amount of health a panzer/bazooka missile has. Set this to 0 to make missiles indestructible.
set g_missileHealth "5"

//Enablethe use of a bounding box (hitbox) around mortar shells, to prevent them from going through small windows and other narrow gaps.
set g_mortarBBox "0"

//Controls the physics corrections related to player frame rates.
//Permits to avoid rounding errors. g_fixedPhysicsFPS controls the FPS the added rounding error emulates.
set g_fixedphysics "0"

//Sets the emulated FPS value when calculating the artificial rounding error used in g_fixedPhysics.
//The magic numbers to use for this setting are 76, 125, and 333, however, 125 works seems be the most used value
set g_fixedphysicsfps "125"

//Toggle flood protecting.
set g_floodprotect "1"

//Set the number of messages per second before ignoring the client's messages.
set g_floodthreshold "6"

//Set the minimum time (in ms) between two messages when g_floodprotect is enabled.
set g_floodWait "1000"

//Toggle ETMain cheats (god, give, nofatigue, noclip, notarget, revive) and allow modifying cheat protected cvars.
set sv_cheats "0"

//Sets the gametype that will be played on your server.
set g_gametype "4"

//If Team Death Match (g_gametype 7) is enabled, this sets the score that a team has to reach to win the round.
set g_TDMScore "500"

//If set higher than 0, defines how many Bonus Points that will be given to the team that completes the final objective.
set g_TDMObjBonus "100"

//	Bitflag to control some options specific to Team Death Match gametype.
set g_TDMOptions "0"

//	Set the Death Match gametype Frag Limit (g_gametype 8). Once a player reaches this number of kills, he wins the round.
set g_DMFragLimit "25"

//	Bitflag to control some options specific to Death Match gametype
set g_DMOptions "0"

//Server MOTD line #1
set server_motd0 ""^7N^1!^7tmod""

//Server MOTD line #2
set server_motd1 ""

//Server MOTD line #3
set server_motd2 ""

//Server MOTD line #4
set server_motd3 ""

//Server MOTD line #5
set server_motd4 ""

//Server MOTD line #6
set server_motd5 ""

//Server MOTD line #7
set server_motd6 ""

//If enabled, the game will not allow a team to have more than 1 player more than the other team.
set g_teamForceBalance "0"

//Warmup duration in seconds
set g_warmup "60"

//Enable Warmup
set g_doWarmup "1"

//Toggle Alternative Stopwatch Gametype. If enabled, players will swap teams after each round.
set g_altStopwatchMode "0"

//If enabled, players can't switch teams when the match is in progress, they will have to wait until warmup to switch.
set g_noTeamSwitching "0"

//Allied team respawn time in milliseconds
set g_userAlliedRespawnTime "0"

//Allied team respawn time in milliseconds
set g_userAxisRespawnTime "0"

//General log file name
set g_log ""

//Synchronize log files
set g_logSync "0"

//Log file name when server crash
set g_logCrash "crash.log"

//Stores IP and IP masks for g_filterban
set g_banIPs ""

//Filter connect packets IP's
set g_filterBan "1"

//Overall player speed
set g_speed "320"

//Defines gravity ammount
set g_gravity "800"

//Knockback value when receiving damage
set g_knockback "1000"

//If higher than 0, sets the delay in seconds before a wounded player will be forced to tapout
set g_forcerespawn "0"

//BitFlag to control debug system trace.
set g_debugBullets "0"

//Maximum number of complaints against a player before he gets kicked from the server
set g_complaintlimit "6"

//Sets the maximum number of unique complaints a player (by IP address) may have filed against them before they are automatically kicked
set g_ipcomplaintlimit "3"

//Bitflag to disable friendly fire complaints for certain weapons
set g_disableComplaints "0"

//Removes players from camera views. If enabled, players will not be displayed on limbo objective camera
set g_filtercams "0"

//If enabled, this sets the maximum number of respawn allowed per round
set g_maxlives "0"

//Number of respawns a player has to miss after he has ran out of lives (see g_maxlives, g_axismaxlives, g_alliedmaxlives) before respawning again.
set g_maxlivesRespawnPenalty "0"

//If enabled, this sets the maximum number of respawn allowed per round for allied team players
set g_alliedmaxlives "0"

//If enabled, this sets the maximum number of respawn allowed per round for axis team players
set g_axismaxlives "0"

//Toggle "Max Lives Enforcement Temp Ban."
set g_enforcemaxlives "1"

//Maximum number of voicechats allowed before the voicechat flood protection is triggered.
set g_voiceChatsAllowed "4"

//If enabled, player will be able to move instantly after being revived, and his invulnerability will be reduced to 1 second instead of 3.
set g_fastres "0"

//Control the use of pmove_msecs for frame computation
set pmove_fixed "0"

//Adjust the frame time (in ms) used for frame calculation.
set pmove_msec "8"

//Toggle ETPro Antilag.
set g_antilag "1"

//Delay in seconds before sending an inactive player (not moving/shooting) to spectators.
set g_inactivity "0"

//Delay in seconds before kicking a spectator for inactivity.
set g_spectatorInactivity "0"

//Bitflag to set various inactivity options. (See g_spectatorInactivity and g_inactivity)
set g_inactivityOptions "0"

//Allowing players to join a match in progress
set match_latejoin "1"

//Sets the minimum number of players required for match to begin.
set match_minplayers "4"

//Mutes the spectators.
set match_mutespecs "0"

//Sets the percentage of players required to be ready
set match_readypercent "100"

//Sets the maximum number of times non-referees can pause the match.
set match_timeoutcount "3"

//Timeout/pauses duration in seconds
set match_timeoutlength "180"

//Warmup damage options
set match_warmupDamage "1"

//Time, in milliseconds, it takes for Medic class charge bar to refill
set g_medicChargeTime "45000"

//Time, in milliseconds, it takes for Engineer class charge bar to refill
set g_engineerChargeTime "30000"

//Time, in milliseconds, it takes for Field Ops class charge bar to refill
set g_LTChargeTime "40000"

//Time, in milliseconds, it takes for Soldier class charge bar to refill
set g_soldierChargeTime "20000"

//Time, in milliseconds, it takes for Covert Ops class charge bar to refill
set g_covertopsChargeTime "30000"

//For each heavy weapon, this defines the percentage of players, per team, who can use it, based on the total number of player in a team.
set g_heavyWeaponRestriction "100"

//Minimum percentage of connected players needed to enable Panzerfaust.
set team_panzerRestriction "0"

//Maximum number of players per team allowed to use Panzerfaust
set team_maxPanzers "-1"

//Maximum number of players per team allowed to use Mobile MG42
set team_maxMG42s "-1"

//Maximum number of players per team allowed to use Flamethrower
set team_maxFlamers "-1"

//Maximum number of players per team allowed to use Mortar
set team_maxMortars "-1"

//Maximum number of players per team allowed to use K43/Garand's grenade lanucher
set team_maxriflegrenades "-1"

//Maximum number of tripmines per team
set team_maxTripmines "5"

//Maximum number of landmines per team
set team_maxLandmines "10"

//Minimum delay, in seconds, between airstrikes per team.
set team_airstrikeTime "10"

//Minimum delay, in seconds, between artillery strikes (Firing For Effect) per team.
set team_artyTime "10"

//Maximum number of Soldiers allowed per team
set team_maxSoldiers "-1"

//Maximum number of Medics allowed per team
set team_maxMedics "-1"

//Maximum number of Engineers allowed per team
set team_maxEngineers "-1"

//Maximum number of FieldOps allowed per team
set team_maxFieldops "-1"

//Maximum number of CovertOps allowed per team
set team_maxCovertops "-1"

//Maximum number of players allowed per team
set team_maxplayers "0"

//Disallow to use of team commands
set team_nocontrols "1"

//If enabled, a player's landmines will be removed when he disconnects or joins another team.
set g_landminetimeout "1"

//Toggle "Competition Settings" voting (requires default_comp.cfg on the server)
set vote_allow_comp "1"

//Toggle gametype voting
set vote_allow_gametype "1"

//Toggle voting to kick players
set vote_allow_kick "1"

//Toggle map voting
set vote_allow_map "1"

//Toggle match reset voting
set vote_allow_matchreset "1"

//Toggle voting to mute spectators
set vote_allow_mutespecs "1"

//Toggle nextmap voting
set vote_allow_nextmap "1"

//Toggle "Public Settings" voting (requires default_pub.cfg on the server)
set vote_allow_pub "1"

//Toggle voring to referee players
set vote_allow_referee "0"

//Toggle voting to shuffle teams & restart match
set vote_allow_shuffleteams "1"

//Toggle voting to shuffle teams WITHOUT restarting match
set vote_allow_shuffleteams_norestart "1"

//Toggle voting to swap teams WITHOUT restarting match
set vote_allow_swapteams "1"

//Toggle voting to swap teams & restart match
set vote_allow_swapteamsrestart "1"

//Toggle Friendly Fire voting
set vote_allow_friendlyfire "1"

//Toggle voting to modify timelimit
set vote_allow_timelimit "0"

//Toggle voting to modify warmup damage settings
set vote_allow_warmupdamage "1"

//Toggle voting to modify antilag status
set vote_allow_antilag "1"

//Toggle voting to modify balanced teams status
set vote_allow_balancedteams "1"

//Toggle voting to mute players
set vote_allow_muting "1"

//Toggle voting to surrender
set vote_allow_surrender "1"

//Toggle campaing restart voting
set vote_allow_restartcampaign "1"

//Toggle next campaign voting
set vote_allow_nextcampaign "1"

//Toggle Poll voting
set vote_allow_poll "1"

//Allow the vote to restart the map
set vote_allow_maprestart "1"

//Maximum number of votes a player can call per map.
set vote_limit "3"

//Percentage of "YES" votes required for a vote to pass.
set vote_percent "50"

//Bitflag to modify voting options
set g_voting "1"

//If enabled, players will be proposed to join a fireteam when they join a team.
set g_autoFireteams "1"

//Player shoving (pushing) distance
set g_shove "80"

//If enabled, can't shove (push) players vertically
set g_shoveNoZ "0"

//Toggle playing dead with /playdead
set g_playDead "1"

//Enable/disable corpse dragging. (Standing over a wounded player and pressing F(activate) to drag the corpse)
set g_dragCorpse "1"

//Toggles class stealing. (Standing over a dead teammate and pressing F(activate) to steal his class).
set g_classChange "0"

//Modify the force limbo health (damage that has to be givent to a player when he's waiting for a medic before he's forced to tapout)
set g_forceLimboHealth "75"

//If enabled, players can send private messages on the server.
set g_privateMessages "1"

//Bitflag to modify XPSave options
set g_XPSave "15"

//XPSave duration in seconds.
set g_XPSaveMaxAge "86400"

//Reset XP when a player reach this limit. (-1 to disable)
set g_maxXP "-1"

//Decays players XP on the server when set to 1.
set g_XPDecay "0"

//Rate, in skill points per second, that XP skill points, for each skill, will decay when g_XPDecay is enabled.
set g_XPDecayRate "0.0"

//Minimum floor that any skill XP can be reduced to by g_XPDecay.
set g_XPDecayFloor "0"

//Bitflag to modify FieldOps class options
set g_fieldOps "0"

//Bitflag to modify friendly fire options.
set g_friendlyFire "1"

//Enable/Disable country flags system.
set g_countryflags "0"

//Damage inflicted to a player when jumping or landing on him. (see also g_goombaFlags)
set g_goomba "10"

//Bitflag to modify Goomba behaviour. (see also g_goomba)
set g_goombaFlags "25"

//Time, in seconds, players will be invulnerable after respawning.
set g_spawnInvul "3"

//Time in seconds before loading the next map after the end of a round.
set g_intermissionTime "60"

//Percentage of players (excluding spectators) who need to hit the "READY" button to load the next map without having to wait g_intermissionTime value.
set g_intermissionReadyPercent "100"

//If enabled, N!tmod will keep players from "warping" using ETPro-style AntiWarp(higly recommended)
set g_antiwarp "1"

//Enable shortcuts in chat
set g_shortcuts "1"

//If a player selfkills (/kill) withing g_fear milliseconds after taking damage from an enemy, the kill will be awarded to this enemy.
set g_fear "2000"

//Options for self-kill
set g_slashKill "0"

//Number of frames the server will generate by second
set sv_fps "20"

//Enable true ping calculation based on client commands timestamps.
set g_truePing "0"

//Enable or disable Poison syringes for level 4 light weapons.
set g_poison "0"

//If enabled, players will see their last killer's remaining HP when they die.
set g_drawAttackerHP "1"

//Bitflag to modify Medic class behaviour.
set g_medics "0"

//Delay, in seconds, between banner messages. (see g_msgpos)
set g_msgs "0"

//Banners location (see g_msgs)
set g_msgpos "0"

//If enabled, every enginner that builds a constructible objective will receive XP points.
set g_constructiblexpsharing "0"

//Airstrike blocking options
set g_asblock "0"

//Allow player to kick canisters on the floor.
set g_canisterKick "0"

//Sets the kicker as the owner of the canister kicked.
set g_canisterKickOwner "0"

//Toggle double jump
set g_doubleJump "0"

//If double jump is enabled, this defines how many times higher the the second jump will be.
set g_DJHeight "1.4"

//Bitflag to modify Panzerfaust rockets behavior.
set g_rockets "0"

//Bitflag to keep a specific class award when playing other classes
set g_skills "0"

//Bitflag to enable missile cameras (Clients can disable cameras with cg_drawCam 0)
set g_missileCams "0"

//Enable a War Mode
set g_war "0"

//Bitflag to control some SniperWar options
set n_sniperWarOptions "7"

//Bitflag to enable some announces.
set g_announcer "127"

//Maximum delay, in milliseconds, between two kills, to count as a multikill
set g_multikillTime "2000"

//Bitflag to modify adrenaline behaviour (See also g_adrenClasses)
set g_adrenaline "0"

//Bitflag cvar to allow adrenaline to carry-over in specific classes.
set g_adrenClasses "2"

//Absolute path to your Omni-bot installation.
set omnibot_path ""

//Toggle Omni-Bot support on the server.
set omnibot_enable "0"

//Various Omni-Bot options
set omnibot_flags "0"

//If enabled, player will lose his spawn protection if he starts attacking before g_spawnInvul seconds.
set g_noAttackInvul "0"

//Maximum number of connections allowed from the same IP address. Set to 0 to disable.
set ip_max_clients "3"

//If enabled, players can pick any weapon on the ground, no matter what class they are playing.
set g_pickAnyWeapon "0"

//Unlimited Ammo (No need to reload, clips are refilled automaticly when empty)
set g_noReload "0"

//No charge usage
set g_noCharge "0"

//Players respawn instantly, respawn times are ignored
set g_instantSpawn "0"

//Players will see a "REVENGE!" announce on their screen if they kill the last player who killed them.
set g_revenge "0"

//LUA scripts you want to run on the server, delimited by a space (these have to be placed in the nitmod folder of your server)
set lua_modules ""

//If set, only LUA modules with the matching sha1 signatures listed in this cvar will be allowed to load.
set lua_allowedModules ""

//Delay in minutes before sending "quit" command to the server. Server has to be empty. Useful for servers running in a loop, so they can be restarted without any admin intervention.
set g_autoQuitDelay "0"

//Controls new advanced animation linked players hitboxes (Bitflag).
set g_hitboxes "9"

//Toggle N!tmod realistic body hitbox. If enabled, the body hitbox will be smaller.
set g_realBody "0"

//Toggle ETPro "real head" code. Head hitbox will follow the player animation. This is HIGHLY recommended.
set g_realHead "1"

//Bitflag for Headshot mode options
set g_headshot "0"

//Bitflag to control various weapon options
set g_weapons "0"

//Allow players to carry a 2nd SMG (MP40 or Thompson). This option does NOT work for CovertOps AND Soldiers.
set g_dualSMG "0"

//Bitflag to enable ability to shoot some weapons to damage and destroy them
set g_damageweapons "0"

//If set, "Secure Shrubbot Login" will be enabled.
set g_secureShrubPassword ""

//If enabled, server will check clients NGUID. If the test fails, server will kick the client.
set g_GUIDChecks "1"

//If enabled, server will check clients IP. If the test fails, server will kick the client.
set g_IPChecks "1"

//Shoutcaster password.
set shoutcastPassword ""

//Bitflag to control a few miscellaneous options.
set g_misc "0"

//If enabled, spectators will be able to see name above players (a sort of "minimal shoutcaster status")
set g_spectatorNames "0"

///team Flood Protection
set g_teamChangeDelay "0"

//Absolute path to the SQLite database file.
set n_SQLiteDBPath ""

//For use with multiple servers on a single SQLite DB.
set n_UserDBSync "0"

//If enabled, players will be allowed to send "mails" to offline players.
set n_userMail "1"

//Enable/Disable Map Spree Records and Map Frag Records
set n_mapRecords "1"

//Options to modify the way player proning works
set n_proneDelay "0"

//Sets how many milliseconds it takes to a dynamite to explode after it has been armed.
set n_dynamiteTimer "30000"

//Sets the distance a ammo or health pack is thrown.
set g_throwDistance "75"

//Sets the number of ammopacks a FieldOps drops when killed.
set g_dropAmmo "0"

//Sets the number of medpacks a Medic drops when killed.
set g_dropHealth "0"

//Delay (in milliseconds) before dropped ammopacks disappear.
set n_ammoPackSinkDelay "30000"

//Delay (in milliseconds) before dropped medpacks disappear.
set n_medPackSinkDelay "30000"

//Time, in milliseconds, it takes for ammo packs to re-appear in ammo cabinets
set g_ammoCabinetTime "60000"

//Time, in milliseconds, it takes for health packs to re-appear in health cabinets
set g_healthCabinetTime "10000"

//Allows dropped items to lay flush with the angle of the ground they are on.
set g_flushItems "1"

//If set higher than 0, players can drop the objective *value+1* times per life, using "dropobj" command (can be used in console or bound to a key).
set g_dropObj "0"

//If enabled, players can drop their primary weapon to the floor using "dropweapon" command (can be used in console or bound to a key).
set n_allowDropWeapon "0"

//If enabled, player bounding box has to be inside the landmine bounding
//box to trigger it, instead of calculating the distance between the landmine and the player.
set n_preciseLandmineTrigger "0"

//Toggle Crazy Gravity (Automaticly set to 0 on map end)
set n_crazyGravity "0"

//Minimum gravity value when Crazy Gravity is enabled.
set n_crazyGravityMin "100"

//Maximum gravity value when Crazy Gravity is enabled.
set n_crazyGravityMax "2000"

//Delay, in milliseconds, between gravity changes when Crazy Gravity is enabled.
set n_crazyGravityInterval "30000"

//If set higher than 0, minimum length of player names when they connect.
//Since 2.2.1, checks for visible characters only (spaces and color codes are ignored)
set n_minNameLength "0"

//Bitflag to control revive spree options.
set n_reviveSpreeOptions "1"

//Maximum delay, in milliseconds, between two revives, to count as a multi revive.<br/>
//Hardcoded multirevive sound path on client side: sound/nit/mr1.wav, sound/nit/mr2.wav, sound/nit/mr3.wav, sound/nit/mr4.wav<br/>
//These sounds are not provided into the official PK3 because we have no sounds for them, it's optional.<br/>
//If you want to use your own sounds, add them into a custom pk3 using the above paths.
set n_multiReviveTime "2000"

//Delay in SECONDS a player must wait before he can re-mount a tank. Set to 0 to disable this delay.
set n_tankMountDelay "0"

//Delay in MILLISECONDS a player must wait before he can stand up after crouching. Set to 0 to disable this delay.
set n_crouchStandDelay "0"

//Delay in MILLISECONDS a player must wait after crouching and standing up to crouch again. Set to 0 to disable this delay.
set n_standCrouchDelay "0"

//If enabled, players can still score XP but their skill levels will be locked to 0 (Same as ETPro's b_noskillupgrades).
set n_noSkillUpgrades "0"

//Bitflag to toggle kill assistances.
set n_killAssistances "1"

//Controls where greeting are displayed.
set n_greetingPos "0"

//Allows setting max HP for each classes. Values must be space separated
//Classes, in order, are: Soldier, Medic, Engineer, FieldOps, CovertOps.
//Example: value "120 150 140 110 130" means: Soldiers 120 HP Max, Medics 150 HP Max, Engineers 140 HP Max, FieldOps 110 HP Max, CovertOps 130 HP Max
//Setting one of the values to 0 will use the usual max HP value for that class.
set n_classesMaxHP "0 0 0 0 0"

//If set higher than 0, this caps the maxmim timelimit vote value (Higher values will changed to this maximum value).
set n_voteMaxTimelimit "0"


// ****************
// *   NxAC 1.0   *
// ****************
//See the complete NxAC Setup tutorial for further informations. (http://etmods.net/nxac_setup.php)

//Controls actions taken by NxAC when a cheat violation is detected.
set n_NxAC "2"

//Set this CVAR to 1 to enable NxAC Client Checksum verification.
set n_NxAC_CheckClientBinary "0"

//Set this CVAR to 1 to enable NxAC CVAR Scanner.
set n_NxAC_CvarScan "0"

//Delay in milliseconds before server starts sending cvar queries to a client after he has finished connecting.
set n_NxAC_CvarScanWait "10000"

//Delay in milliseconds between each cvar query. Values too low might cause lags or server command overflow.
set n_NxAC_CvarScanDelay "750"

//Delay in milliseconds before starting a new scan after the previous one has finished.
set n_NxAC_CvarScanInterval "30000"

//Maximum number of warnings before kicking a player who doesn't respect the cvar rules. Instant kick if set to 0.
set n_NxAC_CvarScanMaxWarnings "1"
