set d1 "set g_gametype 2 ; map venice ; set nextmap vstr d2"
set d2 "set g_gametype 2 ; map v2base ; set nextmap vstr d3"
set d3 "set g_gametype 2 ; map 2tanks ; set nextmap vstr d4"
set d4 "set g_gametype 2 ; map fueldump ; set nextmap vstr d5"
set d5 "set g_gametype 2 ; map supplydepot2 ; set nextmap vstr d6"
set d6 "set g_gametype 2 ; map goldrush ; set nextmap vstr d7"
set d7 "set g_gametype 2 ; map radar ; set nextmap vstr d8"
set d8 "set g_gametype 2 ; map battery ; set nextmap vstr d9"
set d9 "set g_gametype 2 ; map oasis ; set nextmap vstr d10"
set d10 "set g_gametype 2 ; map 2hide ; set nextmap vstr d11"
set d11 "set g_gametype 2 ; map railgun ; set nextmap vstr d12"
set d12 "set g_gametype 2 ; map 1944_beach ; set nextmap vstr d13"
set d13 "set g_gametype 2 ; map adlernest ; set nextmap vstr d14"
set d14 "set g_gametype 2 ; map airassfp1 ; set nextmap vstr d15"
set d15 "set g_gametype 2 ; map alpine_assault ; set nextmap vstr d1"
vstr d1
