[ServerManager]
MaxBots                        = 8
BalanceTeams                   = 1
SaveConfigChanges              = 1
CountSpectators                = 0
SleepBots                      = 0
MinBots                        = -1
InitialDelayTime               = 2.1
