[Debug]
DumpFileEnable                 = false
DumpFileDialog                 = false

[Script]
Debug                          = false
EnableRemoteDebugger           = false
LiveUpdate                     = false

[Debug Render]
EnableInterProcess             = false

[Downloader]
Server                         =
Script                         =
DownloadMissingNav             = false

[ServerManager]
MaxBots                        = 6
BalanceTeams                   = 1
SaveConfigChanges              = 1
CountSpectators                = 0
SleepBots                      = 0
MinBots                        = -1
InitialDelayTime               = 2.1

[Difficulty]
CurrentDifficulty              = 1
AdjustAim                      = 1

[CombatMovement]
moveskill                      = 4

[HeavyWeapons]
MinPlayersForMortar            = 8
MinPlayersForMobileMG          = 8

[Log]
LogInfo                        = false
LogWarnings                    = true
LogErrors                      = true
LogCriticalErrors              = true

[Debug Window]
ShowConsole                    = false
ShowGoals                      = false
ShowProfiler                   = false
ShowMap                        = false
ShowStateTree                  = false
ShowLog                        = false
ShowScript                     = true
ShowHud                        = false
ShowNav                        = false

[XP]
Reset                          = 1
Max                            = 10000

[FireTeam]
enabled                        = 1

[Versus]
BotTeam                        = -1
HumanTeam                      = 1
BotsPerHuman                   = 3
