[level]
level    = 0
name     = Prole
flags    = iBaPzI
greeting =
greeting_sound =

[level]
level    = 1
name     = Level 1
flags    = iBaPzIW1
greeting = Level 1 [n] ^7just connected
greeting_sound =

[level]
level    = 2
name     = Level2
flags    = iBaPzIW1mx
greeting = Level 2 [n] ^7just connected
greeting_sound =

[level]
level    = 3
name     = Level 3
flags    = iBaPzIW1mxpZSAURKrwlLdX259
greeting = Level 3 [n] ^7just connected
greeting_sound =

[level]
level    = 4
name     = Level 4
flags    = iBaPzIW1mxpZSAURKrwlLdX259kbcVNn34678
greeting = Level 4 [n] ^7just connected
greeting_sound =

[level]
level    = 5
name     = Level 5
flags    = *
greeting = Level 5 [n] ^7just connected
greeting_sound =

[command]
command  = maxbots
exec     = bot maxbots [1]
desc     = Sets maximum count of bots in game.
syntax   =
levels   = 5 9 10 11 14 15
