forcecvar snaps 20
sv_cvar cg_fov IN 90 140
forcecvar r_ambientScale 0.5
forcecvar r_colorMipLevels 0
forcecvar r_lightmap 0
sv_cvar r_depthbits IN 24 32
forcecvar cl_freelook 1
forcecvar cl_pitchspeed 0
sv_cvar cl_yawspeed IN 0 140
forcecvar cl_timenudge 0
forcecvar r_zfar 0
sv_cvar cl_maxpackets IN 60 100
sv_cvar com_maxfps IN 43 125
sv_cvar r_rmse EQ 0
forcecvar r_softwareGL 0
sv_cvar r_clamptoedge EQ 1
sv_cvar cl_nodelta EQ 0
sv_cvar cl_packetdup IN 0 1
bot maxbots 10
bot minbots -1
bot botwar -1
bot difficulty 1
