// silEnT mod - Sample server.cfg file
// If you need help contact us on forums. http://mygamingtalk.com/

//
// Generic server cvars //

set dedicated "2"				// 1: dedicated server for lan 2: dedicated server for internet
set net_ip "{{ansible_ssh_host}}"				// set to override the default IP ET uses
set net_port "8080"				// set to override the default port ET uses

set sv_hostname "^>M^1e^2o^zw^7!" 			// name of server here
set server_motd0 " ^NsilEnT ^7MOTD "
set server_motd1 ""
set server_motd2 ""
set server_motd3 ""
set server_motd4 ""
set server_motd5 ""

set sv_maxclients "20"			// Number of players including private slots
set g_password ""				// Password required to connect (g_needpass must be 1)
set g_needpass 0				// Require password to join server
set sv_privateclients 0			// Number of private slots
set sv_privatepassword ""		// Password to access private slots
set sv_fullmsg "Server is full."

set rconpassword ""
set refereePassword ""

set sv_maxRate 50000
set sv_dl_maxRate 50000
set sv_allowDownload 1
//
// Uncomment below once you have the www downloads set
set sv_wwwDownload 1
set sv_wwwDlDisconnected 1
set sv_wwwBaseURL "http://{{ansible_ssh_host}}"			// This is the URL where players are directed while running the game
//set sv_wwwFallbackURL ""		// This is the URL where players are directed to download using external internet browser

set sv_pure 1
set sv_minping 0
set sv_maxping 0

// Uncomment the sv_master settings when you're ready for the server to go public
set sv_master1 ""
//set sv_master1 "etmaster.idsoftware.com"
//set sv_master2 "master0.etmaster.net

// generic logging
set g_log "server.log"
set logfile 2

//****************************************************************************************************
// silEnT mod supported cvars //
//
// This configuration is built to only change values from their defaults
// or to make a point about the setting.

//**************************************************
// silEnT AntiCheat
//**************************************************

set g_silentac 2
set g_clientbinaries 6

//**************************************************
// Announcements and Messages
//**************************************************

set g_privateMessages 1
set g_spreeOptions 2291
set g_multikilltime 2000
set g_dropMsg "Protest this kick at example.com"
set g_landmineNotifyType 1
set g_banners "banners.cfg"

//**************************************************
// User Database, Shrubbot and Bans
//**************************************************

set g_dbDirectory "database"
set g_dbUserMaxAge "90d"
set g_dbMaxAliases 20

set g_tyranny 1 // see shrubbot documentation about tyranny enabled commands and flags

set g_warningOptions 0
set g_maxWarnings 3
set g_warningDecay 24

set g_autoTempBan 6

//**************************************************
// XP Save
//**************************************************

set g_XPSave 31  //changed from 21
set g_XPSaveMaxAge_xp "90d"  //changed from "30d"
set g_damageXP "0"  //changed from "1"
set g_damageXPLevel "50"
set g_maxXP -1  //changed from "90000"
set g_xpdecay "0"
set g_xpdecayrate "0"
set g_xpdecayfloor "0"  //changed from "1"

//set g_XPSave 4

// Enable disable preferred style

// Campaign like XP save for 6 maps with mapvoting gametype
//set g_resetXPMapCount 6
//set g_XPSaveMaxAge "90d"	// keep KR and PRW saved for longer time

// XP is reset after 90 days
//set g_XPSaveMaxAge_xp "30d"	// for the XP
//set g_XPSaveMaxAge "90d"	// keep KR and PRW saved for longer time

// Never reset XP (it's not really an option, but a huge value (30 months) will do instead)
// Do note that g_dbUserMaxAge should be set to "-1" to disable player record deletions
//set g_g_XPSaveMaxAge_xp "30o"
//set g_XPSaveMaxAge "30o"

//**************************************************
// Player Statistics, Rating and Team Balance
//**************************************************

set g_stats 2
set g_playerRating 1	// Enable only if the players on your server remain consistently the same
set g_shuffle_rating 3

//**************************************************
// Class and Weapon Restrictions
//**************************************************

// avoiding spam fest
set team_maxPanzers 1
set team_maxMortars 1
set team_maxFlamers 1
set team_maxGrenLaunchers 6

//**************************************************
// Player Inactivity
//**************************************************

set g_inactivity 120 			// 2 minutes of inactivity before moving to spectators
set g_spectatorInactivity 120	// 2 minutes of inactivity as a spectator before taking actions
set g_inactivityOptions 9		// Don't drop shoutcasters, inactivity kicks in for shrubbot admins as well

//**************************************************
// Gametypes - Map Voting
//**************************************************

set g_mapVoteFlags 5
set g_maxMapsVotedFor 19
set g_minMapAge 6

//**************************************************
// Mapconfigs and Mapscripts
//**************************************************

set g_mapConfigs "mapconfigs"
set g_mapScriptDirectory "mapscripts"

//**************************************************
// Voting
//**************************************************

set g_voting 12

// disable certain votes, allow some
set vote_allow_comp 0
set vote_allow_gametype 0
set vote_allow_kick 0
set vote_allow_map 0
set vote_allow_matchreset 0
set vote_allow_mutespecs 0
set vote_allow_nextmap 0
set vote_allow_pub 0
set vote_allow_referee 0
set vote_allow_shuffleteamsxp 0
set vote_allow_swapteams 0
set vote_allow_friendlyfire 0
set vote_allow_timelimit 0
set vote_allow_warmupdamage 0
set vote_allow_antilag 0
set vote_allow_balancedteams 0
set vote_allow_muting 0
set vote_allow_surrender 0
set vote_allow_nextcampaign 0
set vote_allow_restartcampaign 0
set vote_allow_poll 1
set vote_allow_maprestart 0
set vote_allow_shufflenorestart 1
set vote_allow_cointoss 0
// disable vote blocking from polls
set vote_block_poll -1

//**************************************************
// Weapons, Classes and Skills
//**************************************************

set g_poison 1
set g_medics 320
set g_throwableKnives 1
set g_knifeChargeTime 1000
set g_constructibleXPSharing 1
set g_asblock 3
set g_dyno 5
set g_canisterKick 1
set g_weapons 37166
set g_classWeapons 10

//**************************************************
// Friendly Fire
//**************************************************

set g_friendlyFire 0
set g_friendlyFireOpts 12  // beginner friendly mines

//**************************************************
// Hitboxes, Physics & Anti Lag Settings
//**************************************************

set g_fixedphysics 1
set g_fixedphysicsfps 125

//**************************************************
// Hitsounds
//**************************************************

// often admins want to default to ETPro hitsounds, uncomment below for that
//set g_defaultHitSounds 2

//**************************************************
// Intermission
//**************************************************

set g_intermissionTime 45
set g_intermissionReadyPercent 100

//**************************************************
// Miscellaneous
//**************************************************

set g_ipcomplaintlimit 20
set g_dropHealth 2
set g_dropAmmo 2
set g_misc 1024
set g_ammoCabinetTime 5000		// the default is a bit slow
set g_healthCabinetTime 5000	// the default is a bit slow
set g_spectator 4
set g_trueping 1
set g_dropObj 3
set g_disableComplaints 16
// Country flags, You need to have GeoIP database installed to use this.
set g_countryFlags 0
// original spawn invulnerability
//set g_spawnInvul 3
//set g_spawnInvulFair 0
// longer and more fair, so admins can ignore spawn killing events
set g_spawnInvul 5
set spawnInvulFair 1
set g_teamforcebalance "1"

//**************************************************
// Logs
//**************************************************

set g_logOptions 16640
set g_logAdmin "admin.log"
set g_cheatLog "cheat.log"

//**************************************************
// Omni-Bots
//**************************************************
exec omnibot.cfg
exec bot.cfg
set omnibot_enable 1
set omnibot_path "/usr/share/games/enemy-territory/omni-bot"  // set this path manually if the auto-search does not find the Omni-bot files
set g_bot_maxXP 1000
set g_bot_minPlayers 8
set omnibot_flags 262148

//**************************************************
// Lua
//**************************************************

set lua_modules ""
set lua_allowedModules ""

exec objectivecycle.cfg
set com_watchdog 60
set com_watchdog_cmd "exec objectivecycle.cfg"
