-----BEGIN CERTIFICATE-----
MIIDbjCCAlagAwIBAgIJANjde2vfvxdlMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
aWRnaXRzIFB0eSBMdGQwHhcNMTUxMDMxMDMwMTMyWhcNMjUxMDI4MDMwMTMyWjBF
MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAr8PLSSM1uOCNJRZlFBbNflJ95RWrVmuX9EEvr5yw47gVoBo9e9VG2CRn
2+4Gb/jxvKSF/jXP07UBE9ZH6SOw7yMYkH8NCHgE2rgE1wdBh/2N2idDjtakRCMY
VCY+bsgHkko9/A9w4Gse7HB/ouDIZDbHZ8r5ao80g7brOL/fjbfmZrwvlGuaKBDM
ZKrgwZIsvXJi9Z0kY3avpwCMuvA5qpdpxcsIP4vbArPn2XwPiFeLILPqJUZ+koki
rGdcyiHUDO+/m7qaW7qAKor7tobFtHcvmqoCBvQtQXNuNiJyWXr7MliiUGDjrGlr
b4k3CpNYN+NXayS75CeibI55YV4Q4wIDAQABo2EwXzAPBgNVHREECDAGhwTAqCzF
MB0GA1UdDgQWBBRYGSTznBMhRuhD2yx1DCrPNxAMtDAfBgNVHSMEGDAWgBRYGSTz
nBMhRuhD2yx1DCrPNxAMtDAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IB
AQBpsDQxTdwSiwPVvdEB9pijwBJRH7XdTCHyaMa1mg1Wh3HHHk7EVcqq/r92urhB
Zd/CkUs8X2aSIUN5LF4s/idCurecwRPMmIvVMdyhsDAFpzAATQJEcoalInZlRyqe
5yaBcK5u1qcdAw38ZzdRCqDEChpn0bn0sJ+/kLjDui+JuOpISUb51/4kNYRDZVV1
wHIe3dtoA1UpfJ4zVu1zLO+jmK6YO7Tur7HXJydgx74Nwhy6auXEQudwuyTogTFw
+eaQhsDAeOFNKmrKWfeMpzaedD88HGo0dduRV0s1r8EoJ2zkHaNWajtaZFUON8RX
WxtCmtbtZugrOSwnd276kx9a
-----END CERTIFICATE-----
