-----BEGIN CERTIFICATE-----
MIIC3TCCAcWgAwIBAgIBATANBgkqhkiG9w0BAQUFADASMRAwDgYDVQQDEwdTZW5z
dUNBMB4XDTE0MDEwOTA3NDYwMloXDTE5MDEwODA3NDYwMlowITEOMAwGA1UEAxMF
c2Vuc3UxDzANBgNVBAoTBnNlcnZlcjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
AQoCggEBAOhHQTaAMR2v+OVaCYfOJporiRZwCk8f1KHhtS/eYXckUHrVVfETogl0
Gl5hjWmzjstw29BCr52KFe5WtQEw1ebyof1HNunQBZlUo3z6nQ80HqGilQ0DjdpZ
30SLNwwlurxHE0FoHQVSdDcN92uXzh/DjnHK/fIZLeZGG2Pnt1DcLDkiDUT9Igxx
F3f2xvc46dXIaaibW8x1C1/tSxn8GTTk72mKYoN/WiiLko73FLPnwIgyleC0a//J
lKN4bhz8IzPjIfFprU8yMTd3ItcxoRQ8IoFP+9LDxIVxHsGq0MvkDqzywB9jAZq+
rWmtQdcVo6o/gFH9B6CA2KAtnzWGqqECAwEAAaMvMC0wCQYDVR0TBAIwADALBgNV
HQ8EBAMCBSAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDQYJKoZIhvcNAQEFBQADggEB
AAejh9MNiiwugmd7CRXZHsy4AASHTl2PDTY4mG4J0t9noCsi4zgKNWn+oI0WIv22
uEtAMPDwXedj9j+6yfbqyTdQEJ0gkQKSGTLwcpCoK22iCgw+S0ApN1yxMdcKaD8M
WucVGYsMubczvfVJfo1zzRjpyq60CDSdETMy6Uz4MTMxj6pLvyHLt7e74LbrfPxi
pi6mvwws5R1GkiqlpJabzaHg6gY7k2N3wMeCRqOA/OiZTVqEnMb6t/rzhvIzYRyL
jY5fhJCdrz1YhTzjR+0PpSjJ5JCmwGyTMNG3IVMA6KIinhOdIwu+5YM3oEjlU5S9
mJ62eEuS4O6QLwUKX2hJKds=
-----END CERTIFICATE-----
