{

  "project_name" : "{{project_name}}",
  "project_doc_root" : "{{project_doc_root}}",
  "project_repo" : "{{project_repo}}",
  "branch_name" : "{{branch_name}}",
  "deployment_date" : "{{ansible_date_time.date}}",
  "deployment_time" : "{{ansible_date_time.time}}"

}
