# Server Block for Virtual host with SSL start
server {
        listen  443 ssl http2;
        root {{project_doc_root}};
        index index.php index.html index.htm;
        server_name {{domain_name}};
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
        ssl_prefer_server_ciphers on;
        ssl_certificate /etc/nginx/ssl/ssl_crt.pem;
        ssl_certificate_key /etc/nginx/ssl/ssl_key.pem;
        ssl_dhparam /etc/nginx/ssl/dhparam.pem;
        ssl_session_cache shared:SSL:10m;
        location / {
                try_files $uri $uri/ /index.php?$args;
                proxy_cache STATIC;
        }
        #pass the PHP scripts to FastCGI server listening on 127.0.0.1:9$
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
        # Expire rules for static content
        # cache.appcache, your document html and data
        location ~* \.(?:manifest|appcache|html?|xml|json)$ {
                expires -1;
              # access_log logs/static.log; # I don't usually include a static log
        }
        # Feed
        location ~* \.(?:rss|atom)$ {
                expires 1h;
                add_header Cache-Control "public";
        }
        # Media: images, icons, video, audio, HTC
                location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
                expires 1M;
                access_log off;
                add_header Cache-Control "public";
        }
        # CSS and Javascript
        location ~* \.(?:css|js)$ {
                expires 1y;
                access_log off;
                add_header Cache-Control "public";
        }
        #Define custom error pages
        error_page 404 /error-page-404.html;
        location = /error-page-404.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
        error_page 403 /error-page-403.html;
        location = /error-page-403.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
        error_page 500 502 503 504 /error-page-50x.html;
        location = /error-page-50x.html {
                root /usr/share/nginx/error_pages;
                internal;
        }
}
# Server Block for Virtual host end
